<% provide(:title, "Home") %>

<h1>One to the World</h1>

<p class="center">A repository for Rock Ridge High School Spanish student projects</p>

<p class="center">Browse by level: <%= link_to "2", rutinas2016_path %> | <%= link_to "5H", quijote16_path %> </p>

<h2>RRH Spanish OTTW Tweets:</h2>

<div class="center">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23srag3%20OR%20%23srag4%20OR%20%23srag5%20OR%20%23drg01%20OR%20%23drg03%20OR%20%23drg07%20OR%20%23rrhsdq" data-widget-id="698655621088825344" data-chrome="noheader nofooter">Tweets about #srag3 OR #srag4 OR #srag5 OR #drg01 OR #drg03 OR #drg07 OR #rrhsdq</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
</div>