<% provide(:title, "Proyecto Quijote") %>

<a class="anchor" id="top" name="top"></a>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Loudoun Quijote</h1>

    <p>As part of their exploration of Hispanic culture, Dr. Gallardo's Spanish 5H students read <em>Don Quijote de La Mancha</em> by Miguel de Cervantes. Students engaged with the text by embarking on a series of experiences related to their own interests, from biology and art to creative writing and social media.</p>

    <p class="center">Jump to: 
      <a href="#exploraciones">Exploraciones</a> |
      <a href="#armadura">Armaduras</a> |
      <a href="#arte">Música y Arte</a> |
      <a href="#ciencia">Ciencia</a> |
      <a href="#comida">Comida</a> | 
      <a href="#perspectivas">Perspectivas</a></p>
  </div>

  <h1>Exploraciones</h1><a class="anchor" id="top" name="exploraciones"></a>

  <p><a href="http://sanchificacion.blogspot.com/" target="_blank">• La Sanchificación</a>. A blog by Sanjana Raghavan and Ashley Hirt about the lives and adventures of characters from <em>Don Quijote</em>. Features cross-cultural and sociopolitical commentary.</p>

  <p class="center small">(<a href="#top">Back to top</a>)</p>


  <hr>

  <h1>Armaduras</h1><a class="anchor" id="top" name="armadura"></a>
  
  <p><a href="https://www.youtube.com/watch?v=R2rvdk3cr2Q" target="_blank">• Cómo hacer tu propia armadura quijotesca</a>. A Don Quijote-inspired armor DIY video tutorial, by Danny Castro and Alexis Khu.</p>

  <p><a href="http://prezi.com/wkfov98crdoj/?utm_campaign=share&utm_medium=copy&rc=ex0share" target="_blank">• La armadura de las chicas del colegio</a>. What would Don Quijote's armor look like if it were adapted for a modern girl? In this Prezi, Flora Grainger and Paige O'Brien refashion the knight's armor for this new cultural context.</p>

  <p class="center small">(<a href="#top">Back to top</a>)</p>


  <hr>

  <h1>Música y Arte</h1><a class="anchor" id="top" name="arte"></a>

  <p><%= link_to("• La triste figura", image_path("latristefigurasorto.jpeg"), target: '_blank') %>. A painting (acrylic on canvas) by Vanessa Sorto. <a href="https://latristefiguradelaartequijoesca.wordpress.com/" target="_blank">Presented</a> by Vanessa Sorto and Renata Candás.</p> 

  <p class="center small">(<a href="#top">Back to top</a>)</p>


  <hr>

  <h1>Ciencia y Don Quijote</h1><a class="anchor" id="top" name="ciencia"></a>

  <p><a href="https://prezi.com/emtx0byi2iq3/la-geografia-de-la-mancha-vs-la-geografia-de-virginia/?utm_campaign=share&utm_medium=copy" target="_blank">• La geografía de La Mancha vs. Virginia</a>. A Prezi by Daniel Hirt, featuring a geographical comparison between La Mancha and Virginia.</p>

  <p class="center small">(<a href="#top">Back to top</a>)</p>

  <hr>
  
  <h1>Don Quijote y la Comida</h1><a class="anchor" id="top" name="comida"></a>
  
  <p><a href="https://youtu.be/GIjpiAoBd-E" target="_blank">• Reacciones a las comidas de Don Quijote</a>. In this video, Sruthi Gopinathan, Abby Gaddi and An Loung showcase authentic tasting reactions to dishes featured in <em>Don Quijote</em>, including the mythical Bálsamo de Fierabrás!</p>  

  <p><a href="https://www.youtube.com/watch?v=9Uy_N3rtHjA" target="_blank">• Duelos y quebrantos</a>. In this video, Axel Arias and Sai Jagarlamudi show us how to cook <em>duelos y quebrantos</em>, Don Quijote's Saturday dish.</p>

  <p class="center small">(<a href="#top">Back to top</a>)</p>

  <hr>

  <h1>Perspectivas Quijotescas</h1><a class="anchor" id="top" name="perspectivas"></a>

  <p class="center">What would Don Quijote see if he were alive today in Ashburn, Va.? Such is the question that José Ortiz, Eduardo Jiménez, Aisha Chiang, Snig Sangisetti and Nafisa Sayeeda explore in a series of tweets. <!--Read also their introductions to this topic.--></p><br>

  <div class="center">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/rrhsdq" data-widget-id="699074573627584512" data-chrome="noheader nofooter">#rrhsdq Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
  </div> 
  
  <p class="center small">(<a href="#top">Back to top</a>)</p>

</div>
