<% provide(:title, "Proyecto Quijote") %>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Loudoun Quijote</h1>

    <p>As part of their exploration of Hispanic culture, Dr. Gallardo's Spanish 5H students read <em>Don Quijote de La Mancha</em> by Miguel de Cervantes (ed. Nieves Sánchez Mendieta). Students engaged with the text by embarking on a series of experiences related to their own interests, from biology and art to creative writing and social media.</p>

    <p class="center">Jump to: 
      <a href="#exploraciones">Exploraciones</a> |
      <a href="#armadura">Armaduras</a> |
      <a href="#arte">Música y Arte</a> |
      <a href="#ciencia">Ciencia</a> |
      <a href="#comida">Comida</a> | 
      <a href="#perspectivas">Perspectivas</a></p>
  </div>

  <h1>coming soon...</h1>

  <h1>Exploraciones</h1><a class="anchor" id="top" name="exploraciones"></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et rutrum diam. Donec pretium dui cursus nunc rutrum euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam aliquam neque justo, a blandit sapien ullamcorper eu. Ut lacinia odio sem, id elementum libero convallis id. In dignissim tempor ultricies. Pellentesque sit amet ultrices velit. Nam congue vulputate mauris, id finibus risus vulputate at. Pellentesque pharetra elementum aliquam. Integer purus nunc, hendrerit id auctor non, posuere id metus. Quisque convallis vitae velit quis efficitur. Quisque a dui ante.</p>

  <h1>Armaduras</h1><a class="anchor" id="top" name="armadura"></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et rutrum diam. Donec pretium dui cursus nunc rutrum euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam aliquam neque justo, a blandit sapien ullamcorper eu. Ut lacinia odio sem, id elementum libero convallis id. In dignissim tempor ultricies. Pellentesque sit amet ultrices velit. Nam congue vulputate mauris, id finibus risus vulputate at. Pellentesque pharetra elementum aliquam. Integer purus nunc, hendrerit id auctor non, posuere id metus. Quisque convallis vitae velit quis efficitur. Quisque a dui ante.</p>

  <h1>Música y Arte</h1><a class="anchor" id="top" name="arte"></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et rutrum diam. Donec pretium dui cursus nunc rutrum euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam aliquam neque justo, a blandit sapien ullamcorper eu. Ut lacinia odio sem, id elementum libero convallis id. In dignissim tempor ultricies. Pellentesque sit amet ultrices velit. Nam congue vulputate mauris, id finibus risus vulputate at. Pellentesque pharetra elementum aliquam. Integer purus nunc, hendrerit id auctor non, posuere id metus. Quisque convallis vitae velit quis efficitur. Quisque a dui ante.</p>

  <h1>Ciencia y Don Quijote</h1><a class="anchor" id="top" name="ciencia"></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et rutrum diam. Donec pretium dui cursus nunc rutrum euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam aliquam neque justo, a blandit sapien ullamcorper eu. Ut lacinia odio sem, id elementum libero convallis id. In dignissim tempor ultricies. Pellentesque sit amet ultrices velit. Nam congue vulputate mauris, id finibus risus vulputate at. Pellentesque pharetra elementum aliquam. Integer purus nunc, hendrerit id auctor non, posuere id metus. Quisque convallis vitae velit quis efficitur. Quisque a dui ante.</p>
  
  <h1>Don Quijote y la Comida</h1><a class="anchor" id="top" name="comida"></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et rutrum diam. Donec pretium dui cursus nunc rutrum euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam aliquam neque justo, a blandit sapien ullamcorper eu. Ut lacinia odio sem, id elementum libero convallis id. In dignissim tempor ultricies. Pellentesque sit amet ultrices velit. Nam congue vulputate mauris, id finibus risus vulputate at. Pellentesque pharetra elementum aliquam. Integer purus nunc, hendrerit id auctor non, posuere id metus. Quisque convallis vitae velit quis efficitur. Quisque a dui ante.</p>  

  <h1>Perspectivas Quijotescas</h1><a class="anchor" id="top" name="perspectivas"></a>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Suspendisse et rutrum diam. Donec pretium dui cursus nunc rutrum euismod. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Etiam aliquam neque justo, a blandit sapien ullamcorper eu. Ut lacinia odio sem, id elementum libero convallis id. In dignissim tempor ultricies. Pellentesque sit amet ultrices velit. Nam congue vulputate mauris, id finibus risus vulputate at. Pellentesque pharetra elementum aliquam. Integer purus nunc, hendrerit id auctor non, posuere id metus. Quisque convallis vitae velit quis efficitur. Quisque a dui ante.</p>


  <!-- #RRHSdq widget
  <hr>
  <div class="center">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/rrhsdq" data-widget-id="699074573627584512" data-chrome="noheader nofooter">#rrhsdq Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
  </div> -->
  
</div>
