<% provide(:title, "Home") %>

<h1>Juan to the World</h1>
<p class="center">A series of <strong>One To The World</strong> experiences, part of Rock Ridge High School's World Languages & Cultures Program.</p>
<h2>Sample Twitter feed</h2>

<div class="center">
<a class="twitter-timeline" href="https://twitter.com/hashtag/guitar" data-widget-id="693916743215919106">#guitar Tweets</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
</div>
