<% provide(:title, "Home") %>

<h1>One to the World</h1>
<p class="center">An online repository for RRHS Spanish 2 and Spanish 5H student projects.<br>Under construction.</p>

<!--
<p class="center">About the Spanish 2 <%= link_to "Proyecto Rutinas", spn2about_path %>.</p>

<p class="center">About the Spanish 5H <%= link_to "Proyecto Loudoun Quijote", quijote_path %>.</p> -->

<h2>Sample Twitter Feed</h2>

<div class="center">
    <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/hashtag/srag5" data-widget-id="695833566630932481">#srag5 Tweets</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
</div>
  


