<% provide(:title, "Proyecto Comida") %>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Comida 2016</h1>

    <p>Sra. Bethea and Sra. Nagle's students research and create dishes from Hispanic countries' recipes to share with classroom students and the RRHS community. In this PBL project, students develop their oral and presentations skills integrating technology to encourage innovation and creativity.</p>
    
    <p>Los estudiantes de la Sra. Nagle y de la Sra. Bethea investigan y crean platos con recetas de los diferentes países hispanos para compartir con los estudiantes de RRHS y su comunidad. En este proyecto de PBL, los estudiantes desarrollan sus habilidades orales y de presentación integrando tecnología para promover la innovación y creatividad.</p>

    <!--
    <p>In this project, Sra. Bethea's and Sra. Nagle's Spanish 3 students researched, recreated and shared <mark>Hispanic dishes</mark>. Students captured their experiences and produced videos to demonstrate their oral and presentational skills.</p>

    <p><em>En este proyecto, los alumnos de Español 3 de la Sra. Nagle y de la Sra. Bethea investigaron, cocinaron y compartieron <mark>platos hispanos</mark>. Los estudiantes produjeron videos para demostrar sus habilidades de presentación.</em></p> -->

    <p class="center">Visit also <%= link_to "Proyecto Emergencias", emergencias16_path %>.</p>
  </div>

  <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PIZKtGSBlIw" frameborder="0" allowfullscreen></iframe>
  </div>
  

  <!--<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=PIZKtGSBlIw" frameborder="0" allowfullscreen></iframe>
  </div>-->
  
</div>
