<% provide(:title, "Proyecto Comida") %>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Comida 2016</h1>

    <p>Sra. Nagle's students research and create dishes from Hispanic countries' recipes to share with classroom students and the RRHS community. In this PBL project, students develop their oral and presentations skills integrating technology to encourage innovation and creativity.</p>
    
    <p>Los estudiantes de la Sra. Nagle investigan y crean platos con recetas de los diferentes países hispanos para compartir con los estudiantes de RRHS y su comunidad. En este proyecto de PBL, los estudiantes desarrollan sus habilidades orales y de presentación integrando tecnología para promover la innovación y creatividad.</p>

  
    <p class="center">Visit also <%= link_to "Proyecto Emergencias", emergencias16_path %>.</p>
  </div>

  <p class="center"><em>(Videos open in a new tab)</em></p>
  
  <ul class="list-group">
    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=pr1oFkQ012A" target="_blank">Mangú</a> by Soumya, Samantha & Maya</li>
    
    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=p1Pn9wYOa1U" target="_blank">Tawa tawas</a> by Varun, Sid & Sean</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=Ax23HJf-_7Y&feature=youtu.be" target="_blank">Tamales</a> by Corinne Vosburgh, Brittany Tharp & Nikita Upadhye</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=oKv3OMPD6x4" target="_blank">Marquesitas</a> by Karan Nair & Kira Riverbark</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=Oc2LkyaToFQ" target="_blank">Tawa tawas</a> by Jordan and Amrit</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=Jis7azOl0Nc" target="_blank">Sopapillas</a> by Marilyn & Alisha</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=zGNkBiZNYB4" target="_blank">Apple empanadas</a> by Elaya & Alexia</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=jm1BeHxKV_s" target="_blank">Churros</a> by Tucker, Sameer & Michael</li>

    <li class="list-group-item"><a href="https://www.youtube.com/watch?v=9KAhnKvLKsA" target="_blank">Arroz con pollo</a> by Ben & Ryan</li>

  </ul>  



  <!-- <div class="embed-responsive embed-responsive-16by9">
    <iframe width="560" height="315" src="https://www.youtube.com/embed/PIZKtGSBlIw" frameborder="0" allowfullscreen></iframe>
  </div> -->
  

  <!--<div class="embed-responsive embed-responsive-16by9">
    <iframe class="embed-responsive-item" src="https://www.youtube.com/watch?v=PIZKtGSBlIw" frameborder="0" allowfullscreen></iframe>
  </div>-->
  
</div>
