<% provide(:title, "Proyecto Comida") %>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Comida 2016</h1>

    <p>Alorem ipsum dolor sit amet, zril gubergren consequuntur nam ut, in unum tota errem cum, cum te dolor dolore. Scripta debitis philosophia eam ei. Eu doming qualisque nam, iisque omittam intellegat eu vel. Dicat persequeris an pri, te vis tation invidunt argumentum. Ea est labore complectitur, cibo porro has no.</p>
  </div>

  <h1>coming soon...</h1>

  
</div>
