<% provide(:title, "About") %>

<div class="container">
  <div class="jumbotron">
    <h1>About This Website</h1>

    <p>This online repository is intended to house projects by Spanish 2 and Spanish 5H students at <a href="http://www.loudoun.k12.va.us/rockridge" target="_blank">Rock Ridge High School</a>, and is part of Loudoun County Public Schools' <a href="http://www.loudoun.k12.va.us/Domain/17509" target="_blank">One to the World</a> initiative.</p>

    <p>This website was created by Dr. Gonzalo Gallardo, using <a href="http://rubyonrails.org/" target="_blank">Ruby on Rails</a>.</p>
  </div>
</div>

