<% provide(:title, "Proyecto Rutinas") %>

<h1>Proyecto Rutinas 2016</h1>

<p>In this project, Spanish 2 students share aspects of their daily lives with the global Hispanic community. Twitter's Hispanic audience can thus gain a cross-cultural appreciation of life for a student in Ashburn, Va. In their tweets, students use language and video to demonstrate <mark>reflexive conjugation</mark> (where the subject is also the action's recipient, e.g. <em>yo me peino, ella se pintó las uñas</em>).</p>

<p>The feed below combines all Spanish 2 student tweets. You can also browse posts in the <%= link_to "present", rutinas16sg_path %> and <%= link_to "past", rutinas16gg_path %> tenses.</p> <!--remove this paragraph after, so that this page can be part of the past project archive-->

<h2>Las Rutinas en RRHS:</h2>
<div class="center">
  <a class="twitter-timeline" data-dnt="true" href="https://twitter.com/search?q=%23srag3%20OR%20%23srag4%20OR%20%23srag5%20OR%20%23drg01%20OR%20%23drg03%20OR%20%23drg07" data-widget-id="698656846752518144" data-chrome="noheader nofooter">Tweets about #srag3 OR #srag4 OR #srag5 OR #drg01 OR #drg03 OR #drg07</a>
  <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
</div>