<% provide(:title, "Proyecto Rutinas") %>

<div class="container">
  <div class="jumbotron">
    <h1>Proyecto Rutinas 2017</h1>

    <p>In this project, Spanish 2 students share daily aspects of their lives via social media. Using language and video in their tweets, students demonstrate <mark>reflexive conjugation</mark> (where the subject is also the action's recipient, e.g. <em>yo me peino, ella se pintó las uñas</em>). Twitter's Hispanic audience can thus gain a cross-cultural appreciation for life in Ashburn, Va.</p>

    <p>The feed below includes all Spanish 2 tweets.</p> 
  </div>

  <h1>Las Rutinas en RRHS:</h1>

  <div class="center">
    <a class="twitter-timeline"  href="https://twitter.com/search?q=%23drg04%20OR%20%23drg05%20OR%20%23drg07%20" data-widget-id="826977994036097024" data-chrome="noheader nofooter">Tweets about #drg04 OR #drg05 OR #drg07 </a>
  
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs"); twttr.widgets.load();</script>
  </div>

</div>


